{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block link %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">{% endblock %}



{% block styles %}
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}




{% block content %}
<body class="text-center">

<main class="form-signin">
  <form>

      {{ form.hidden_tag() }}
            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                {{ form.username(class="form-control", placeholder="User Name", id="floatingInput", type="label") }}
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", placeholder="Password", type="password", id="floatingPassword") }}
              <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
            <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>

  </form>
</main>

</body>
<style>
      body {
      background-color: #ffffff;
      }
</style>
{% endblock %}
