{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}


{% block content %}
<body>
    <div class="container" style="width:27%" >
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}

            <h1 class="h2 mb-3 font-weight-normal text-center" style="padding-top:25%">
                SIGN UP
            </h1>
            <br>
            {{ form.username(class="form-control", placeholder="User Name") }}
            <br>
            {{ form.email_address(class="form-control", placeholder="Email Address") }}
            <br>
            {{ form.password1(class="form-control", placeholder="Password") }}
            <br>
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}


            <div class="checkbox mb-3">
               <p class="text-center">Already have an account?</p>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
            <br>
            {{ form.submit(class="btn-lg btn-block btn-primary rounded-pill") }}
        </form>
    </div>
</body>
{% endblock %}